extends layouts/layout.pug
block content
  include partials/header.pug
  include partials/postCard.pug
  +header(user.username, user.isAdmin, page_name, user.notifications)
  main
    .postForm
      form.createPost
        textarea(class="postTextArea" name="newPost" placeHolder="What's on your mind?", required )
        div
          span.counter
            span.size 0
            span /3000
          button(type="submit") POST
    .posts
      //- reverse posts to display newest at the top
      each post in posts.reverse()
        +postCard(post, user._id)
    .editModal
      .modal-content
        span.close-modal &times;
        h4 Edit post
        form(action="dashboard/edit/post?_method=PUT" method="post")
          input(type="hidden" name="postId" class="modelHiddenInput")
          textarea(name="editedText" class="editArea" required)
          button(type="submit" class="editBtn") Done
block scripts
  script(src="/javascripts/dashboard.js")