extends layouts/layout.pug
block content
  include partials/navbar.pug
  main
    .postForm
      form(action="new/post", method="post")
        label Create Post
        input(type="text" name="newPost" placeholder="What's on your mind" required)
        button(type="submit") Post
    .posts
      each post in posts.reverse()
        .card
          .postOwner
            p= post.createdBy
            p= post.createdAt
          .postText
            p= post.body
          .heart
            p ❤ #{post.likes}
          .reaction
            ul
              li
                a(href="#") Like    
              li
                a(href="#") Comment
          form(action="new/comment", method="post")
            input(type="text" placeholder="Write a comment...")    
            button(type="submit") Send