extends layouts/layout.pug
block content
  .home-container
    img(src="images/home-post.svg" alt="s:vg icon" class="home-svg")
    .elements
      div.text
        p.logo Dwi
        p.home-text Write so that everyone reads
      a(href="/auth" class="signup") Login / Sign up