extends layouts/layout.pug
block content
  .home-container
    header.home-header
      nav.home-nav
        ul
          li.logo Dwi
          li.signup
            a(href="/auth") Signup 
          li.login 
            a(href="/auth") Login
    div
      p.home-text Dwi Lets you write and share with everyone
      img(src="images/home-post.svg", alt="svg icon", class="home-svg")