extends layouts/layout.pug
block content
  include partials/header.pug
  +header(data.username, data.isAdmin, data.page_name)
  .notifications
    h1 Notifications
    each notification in data.notifications
      .notif
        svg(width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M40.25 36.4166V38.3333H5.75001V36.4166L9.58334 32.5833V21.0833C9.58334 15.1416 13.4742 9.90915 19.1667 8.22248V7.66665C19.1667 6.64998 19.5705 5.67496 20.2894 4.95607C21.0083 4.23718 21.9833 3.83331 23 3.83331C24.0167 3.83331 24.9917 4.23718 25.7106 4.95607C26.4295 5.67496 26.8333 6.64998 26.8333 7.66665V8.22248C32.5258 9.90915 36.4167 15.1416 36.4167 21.0833V32.5833L40.25 36.4166ZM26.8333 40.25C26.8333 41.2666 26.4295 42.2417 25.7106 42.9606C24.9917 43.6794 24.0167 44.0833 23 44.0833C21.9833 44.0833 21.0083 43.6794 20.2894 42.9606C19.5705 42.2417 19.1667 41.2666 19.1667 40.25H26.8333ZM37.8542 6.11415L35.1325 8.83581C36.7536 10.437 38.0407 12.3441 38.9191 14.4465C39.7976 16.5489 40.25 18.8048 40.25 21.0833H44.0833C44.0833 15.4675 41.86 10.0625 37.8542 6.11415ZM1.91668 21.0833H5.75001C5.75001 16.4833 7.59001 12.075 10.8675 8.83581L8.14584 6.11415C6.16762 8.07215 4.59823 10.4038 3.52887 12.9735C2.45951 15.5433 1.9115 18.2999 1.91668 21.0833Z" fill="#F86D70")
        p= `${notification.from} commented on your post.`
        span= notification.when
        button.deleteNotif
          img(src="images/delete-24px.svg" data-id=notification._id alt="delete notification button")

block scripts
  script(src="/javascripts/notifications.js")
