extends layouts/layout.pug
block content
  include partials/header
  .container
    form(action="/profile?_method=PUT" method="post" class="profile-form")
      div
        label(for="firstName") First name:
        input(type="text" name="firstName" value= firstName required)
      div  
        label(for="lastName") Last name:
        input(type="text" name="lastName" value= lastName required)
      div
        label(for="email") Email:
        input(type="email" name="email" value= email required)
      div  
        label(for="newPassword") New password:
        input(type="password" name="newPassword" placeholder="New Password")
      div  
        label(for="confirmPassword") Confirm Password:
        input(type="password" name="confirmPassword" placeholder="Confirm Password")
      button(type="submit") Update