/* hide svg in mobile */
.auth-svg {
  display: none;
}

.auth-container {
  background: #fff;
  height: 100vh;
}

.form-group {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-header {
  display: flex;
}

.form-logo {
  display: inline;
  font-family: Satisfy, Roboto, sans-serif;
  font-size: 35px;
  text-decoration: none;
  color: #0985f8;
  flex-grow: 3;
}
.form-header div {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.form-header div p {
  text-decoration: none;
  font-family: Roboto;
  color: rgb(141, 141, 141);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
}
.form-header div p:hover {
  color: #000;
}
/* form */

form {
  display: flex;
  flex-direction: column;
}
form input {
  height: 48px;
  margin-top: 15px;
  padding-left: 10px;
  border: 1px #e0e0e0 solid;
  border-radius: 5px;
}

/* login/register btn */
.auth-btn {
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #7ac7ff;
  border: none;
  cursor: pointer;
}

/* google auth btn */
.google-btn {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  text-align: center;
  background-color: #f84848;
  padding: 15px 0;
  margin-top: 10px;
  border-radius: 5px;
}

.hide {
  display: none;
}
.form-header div .active {
  color: #000;
}
/* tablets */
@media only screen and (min-width: 768px) {
  .form-group {
    width: 50%;
  }
}

/* laptops */
@media only screen and (min-width: 1110px) {
  .auth-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    background: linear-gradient(239.21deg, #ffffff 29.23%, #d9edff 116.86%);
  }
  .auth-btn,
  .google-btn {
    font-size: 20px;
  }
  .auth-svg {
    display: block;
    width: 600px;
    align-self: center;
    justify-self: center;
  }
  .form-group {
    align-self: center;
    justify-self: center;
    width: 500px;
  }
  .form-header div a {
    font-size: 18px;
  }
  form input {
    height: 60px;
    font-size: 20px;
  }
}
