:root {
  --post-form-border-color: #eeeeee;
}

main {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

/* create Post styles */
.postForm form {
  width: 60%;
  border-left: 1px var(--post-form-border-color) solid;
  border-right: 1px var(--post-form-border-color) solid;
  border-bottom: 1px var(--post-form-border-color) solid;
  border-radius: 3px;
  margin: 0 auto;
}

.postForm form label {
  margin-left: 20px;
  font-size: 20px;
  display: block;
  background-image: linear-gradient(to left, #bcf0ff, #fff);
}

.postForm form textarea {
  display: block;
  width: 90%;
  resize: none;
  height: 115px;
  margin: 15px auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  outline: none;
}

.postForm form button {
  display: block;
  width: 100px;
  height: 48;
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin: 0 auto;
}

/* Post cards styles */
.card {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 9px #eeeeee;
}

/* poster name and timestamp */
.postOwner {
  padding: 5px 0px 5px 15px;
  display: flex;
  justify-content: space-between;
}

.postOwner h3 {
  font-size: 18;
  margin: 0;
}

.postOwner p {
  font-size: 11;
  margin: 0;
}

.dropdown-menu {
  height: 30px;
  padding: 0 15px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-menu:after {
  content: "\20DB";
  font-size: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 30px;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-image: linear-gradient(to left, #bcf0ff, #fff);
}
.show-dropdown {
  display: block;
}

/* post text */

.postText {
  margin: 10px 15px;
}

.postText p {
  font-size: 20;
}

/* post likes */
.postLikes {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 5px;
}

.postLikes p {
  padding-left: 5px;
  margin: 0;
}

/* like btn */

button.likeBtn {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border: none;
  border-top: 1px var(--post-form-border-color) solid;
  border-bottom: 1px var(--post-form-border-color) solid;
}

/* comment form */
.comments {
  margin: 15px 15px 0 15px;
}
.comment h5 {
  font-size: 16px;
  margin: 0;
}
.comment p {
  font-size: 11px;
  margin: 0;
}

.commentText {
  margin: 10px 15px;
}
.commentText p {
  font-size: 16px;
}

.card form {
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card form input {
  width: 90%;
  height: 50px;
  border: 1px #000 solid;
  border-radius: 25px;
  padding: 0 15px;
  outline: none;
}

.card form button {
  margin-left: -40px;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

/* Edir modal css */
.editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content h4 {
  margin: 20px;
  font-size: 20px;
  display: block;
  background-image: linear-gradient(to left, #bcf0ff, #fff);
}

.modal-content textarea {
  display: block;
  width: 90%;
  resize: none;
  height: 115px;
  margin: 15px auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  outline: none;
}

.modal-content button {
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 40px;
  background-color: #57a1ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .postForm > form {
    width: 95%;
  }

  .card {
    width: 95%;
  }

  .dropdown-content {
    right: 0;
  }

  .modal-content {
    width: 85%;
  }
  .modal-content button {
    width: 35%;
  }
}
