:root {
  --post-form-border-color: #eeeeee;
}

main {
  background-color: #f8fcff;
}

.postForm {
  height: 140px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postForm form {
  width: 80%;
  position: relative;
}

.postForm form textarea {
  height: 78px;
  font-family: var(--main-font);
  padding: 5px 50px 5px 15px;
  border-radius: 15px;
  resize: none;
  outline: none;
  border: 1px solid var(--post-form-border-color);
}

.postForm form button {
  width: 50px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* Post cards styles */
.card {
  border-top: 1px solid var(--post-form-border-color);
  border-bottom: 1px solid var(--post-form-border-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--main-font);
  background-color: #fff;
}

/* poster name and timestamp */
.postOwner {
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
}

.postOwner p {
  font-size: 11;
}

.dropdown-menu {
  height: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-menu:after {
  content: "\20DB";
  font-size: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 30px;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-image: linear-gradient(to left, #bcf0ff, #fff);
}
.show-dropdown {
  display: block;
}

/* post text */

.postText {
  margin: 10px 10px 10px 0px;
}

.postText p {
  font-size: 20;
  overflow-wrap: break-word;
}

/* post likes */
.postLikes {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.postLikes p {
  margin-left: 5px;
}

.postLikes img {
  width: 20px;
}

/* like btn */

button.likeBtn {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border: none;
  border-top: 1px var(--post-form-border-color) solid;
  border-bottom: 1px var(--post-form-border-color) solid;
}

/* comments styles */
.commentOwner {
  display: flex;
  justify-content: space-between;
}
.comment h5 {
  font-size: 16px;
  margin: 0;
}
.comment p {
  font-size: 11px;
  margin: 0;
}

.commentText {
  margin: 10px 15px;
}
.commentText p {
  font-size: 16px;
}

/* comment form */
.card form {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.card form input {
  margin: 0;
  border: 1px #000 solid;
  border-radius: 25px;
  padding: 0 15px;
  outline: none;
}

.card form button {
  position: absolute;
  height: 48px;
  width: 48px;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Edir modal css */
.editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content h4 {
  margin: 20px;
  font-size: 20px;
  display: block;
  background-image: linear-gradient(to left, #bcf0ff, #fff);
}

.modal-content textarea {
  display: block;
  width: 90%;
  resize: none;
  height: 115px;
  margin: 15px auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  outline: none;
}

.modal-content button {
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 40px;
  background-color: #57a1ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
