:root {
  --post-form-border-color: #eeeeee;
}

main {
  background-color: #f8fcff;
  overflow: auto;
  padding-bottom: 30px;
}

.postForm {
  height: 155px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.05);
}

.postForm form {
  height: 100%;
}

.postForm form textarea {
  height: 78px;
  font-family: var(--main-font);
  padding: 15px 15px 5px 15px;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.15);
  flex-grow: 1;
}

.postForm form textarea::placeholder {
  color: #c5c5c5;
}

.postForm form div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #fff;
}

.postForm form div button {
  height: 45px;
  width: 120px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: var(--main-font);
  border: none;
  border-radius: 5px;
  background-color: #ff3b1d;
}

/* Post cards styles */
.card {
  border-top: 1px solid var(--post-form-border-color);
  border-bottom: 1px solid var(--post-form-border-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--main-font);
  background-color: #fff;
}

/* poster name and timestamp */
.postOwner {
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
}

.postOwner p {
  font-size: 11;
}

.dropdown {
  height: 30px;
  position: relative;
  display: inline-block;
}

.dropdown img {
  width: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show-dropdown {
  display: block;
}

/* post text */

.postText {
  margin: 10px 10px 10px 0px;
}

.postText p {
  font-size: 20;
  overflow-wrap: break-word;
}

/* post likes */
.postLikes {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.postLikes p {
  margin-left: 5px;
}

.postLikes img {
  width: 20px;
}

/* like btn */

button.likeBtn {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 20px;
  outline: none;
  background-color: #fff;
  border: none;
  border-top: 1px var(--post-form-border-color) solid;
  border-bottom: 1px var(--post-form-border-color) solid;
}

/* comments styles */
.comment {
  margin-top: 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
}
.commentOwner {
  display: flex;
  justify-content: space-between;
}
.comment h5 {
  font-size: 13px;
  margin: 0;
}
.comment p {
  font-size: 11px;
  margin: 0;
}

.commentText {
  margin: 10px 10px 0px 10px;
}
.commentText p {
  font-size: 16px;
}

/* comment form */
.card form {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.card form input {
  margin: 0;
  border: 1px #ccc solid;
  border-radius: 25px;
  padding: 0 15px;
  outline: none;
}

.card form button {
  position: absolute;
  height: 48px;
  width: 48px;
  right: 0;
  border: none;
  background-color: transparent;
}

/* Edir modal css */
.editModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin-top: 15%;
  padding-bottom: 20px;
}

.modal-content h4 {
  margin-top: 40px;
  font-size: 20px;
  display: block;
  background-image: linear-gradient(to left, #bcf0ff, #fff);
}

.modal-content textarea {
  display: block;
  width: 90%;
  resize: none;
  height: 115px;
  margin: 15px auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  outline: none;
}

.modal-content button {
  display: block;
  margin: 0 auto;
  height: 40px;
  background-color: #57a1ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 20px;
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* for tablets */
@media only screen and (min-width: 768px) {
  .postForm {
    height: 180px;
    width: 640px;
    margin: 0 auto;
    margin-top: 45px;
  }

  .postForm form textarea {
    font-size: 22px;
  }

  .card {
    width: 70%;
    margin: 30px auto 0px auto;
  }

  .modal-content {
    padding: 8px;
    width: 75%;
    margin: 15% auto 0px auto;
  }
}

/* for laptops */
@media only screen and (min-width: 992px) {
  main {
    margin-left: 300px;
    background-color: #fff;
  }

  .postForm {
    width: 765px;
    height: 210px;
  }

  .postForm form div button {
    height: 43px;
    width: 150px;
    margin: 5px 10px;
    font-size: 20px;
    border-radius: 24px;
    cursor: pointer;
  }

  .card {
    width: 50%;
  }

  .card form button {
    height: 60px;
  }

  .dropdown img {
    cursor: pointer;
  }

  button.likeBtn {
    cursor: pointer;
  }

  .card form button {
    cursor: pointer;
  }

  .editModal {
    padding-left: 300px;
    width: calc(100% - 300px);
  }
  .modal-content {
    width: 75%;
  }
  .modal-content button {
    cursor: pointer;
  }
}
