.main-header {
  position: fixed;
  z-index: 2;
  right: 0px;
  height: 100vh;
  width: 70%;
  margin-top: 0;
  overflow: hidden;
  background-color: #f0faff;
  -webkit-box-shadow: 0px 0px 0px 0px #d2d2d2;
  box-shadow: 0px 0px 0px 0px #d2d2d2;
  transform: translateX(100%);
  transition: transform 0.5s, box-shadow 0.5s;
}

.main-header.active {
  -webkit-box-shadow: 0px 0px 50px 0px #d2d2d2;
  box-shadow: 0px 0px 40px 0px #d2d2d2;
  transform: translateX(0%);
}

.main-header nav {
  display: flex;
  flex-direction: column;
}

.user {
  margin-top: 65px;
  text-align: center;
}

.user img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.12);
}

.user p {
  font-family: var(--main-font);
  font-weight: bolder;
  font-size: 19px;
  margin-top: 20px;
}

.main-nav ul {
  margin-top: 60px;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-nav ul li {
  width: 100%;
  text-align: center;
}

.main-nav ul li a {
  font-family: var(--main-font);
  color: black;
  text-decoration: none;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-nav ul li a svg {
  margin-right: 15px;
  align-self: center;
  justify-self: end;
  width: 35px;
}
.main-nav ul li a span {
  align-self: center;
  justify-self: self-start;
  font-size: 20px;
  margin-left: -10px;
}

.nav-toggle {
  position: fixed;
  z-index: 3;
  right: 15px;
  bottom: 20px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* for tablets */
@media only screen and (min-width: 768px) {
  .main-header {
    width: 35%;
  }
}

@media only screen and (min-width: 1050px) {
  .main-header {
    position: fixed;
    z-index: 2;
    left: -300px;
    height: 100vh;
    width: 300px;
    margin-top: 0;
    overflow: hidden;
  }

  .active span {
    color: #2d29f6;
  }
  .active,
  .main-nav ul li a:hover {
    background-color: #ffffff;
    color: #2d29f6;
  }

  .active svg path,
  .main-nav ul li a:hover svg path {
    fill: #2d29f6;
  }

  .nav-toggle {
    display: none;
  }
}
