.home-container {
  background-color: #e7f9ff;
  background: linear-gradient(180.03deg, #ffffff 0.01%, #d9edff 156.94%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elements,
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
}

.logo {
  font-family: var(--logo-font);
  font-size: 30px;
  text-align: center;
}

.signup {
  font-family: Roboto;
  display: block;
  background: #879eff;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-top: 70px;
}

.home-text {
  font-family: var(--main-font);
  font-size: 16px;
  text-align: center;
  color: #81879f;
}

.home-svg {
  height: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

/* for tablets */
@media only screen and (min-width: 768px) {
  .home-svg {
    height: 400px;
  }
  .home-text {
    font-size: 30px;
  }
  .logo {
    font-size: 60px;
  }
}

/* for desktop */
@media only screen and (min-width: 992px) {
  .home-container {
    background: linear-gradient(239.21deg, #ffffff 29.23%, #d9edff 116.86%);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .elements,
  .text {
    justify-content: space-evenly;
  }
  .logo,
  .home-text {
    flex-direction: column;
  }
  .home-svg {
    margin: 0;
    height: 500px;
  }
  .signup {
    margin: 0;
    padding: 18px;
    border-radius: 3px;
  }
}
