.home-container {
  background-color: #e7f9ff;
  background: linear-gradient(180.03deg, #ffffff 0.01%, #d9edff 156.94%);
  height: 100vh;
}
.home-header {
  height: 70px;
}
.home-nav ul {
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}
.home-nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-nav ul li a {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: var(--logo-font);
  font-size: 48px;
  color: #0047ff;
  flex-grow: 1;
}
.signup {
  flex-grow: 1;
}
.login {
  flex-grow: 1;
}

.signup a {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background: #3df55b;
  border: 1px solid #32d64d;
  border-radius: 5px;
  height: 40px;
}

.login a {
  font-family: var(--main-font);
  font-size: 18px;
  color: #000000;
  height: 100%;
}

.home-text {
  font-family: var(--main-font);
  font-size: 25px;
  text-align: center;
  margin-top: 10%;
  color: #433d9e;
}

.home-svg {
  height: 300px;
  display: block;
  margin: 12px auto;
}

/* for tablets */
@media only screen and (min-width: 768px) {
  .home-nav ul .logo {
    flex-grow: 5;
    justify-content: start;
    margin-left: 20px;
  }
  .signup {
    flex-grow: 1;
  }
  .login {
    flex-grow: 1;
  }
}

/* for desktop */
@media only screen and (min-width: 992px) {
  .home-container {
    background: linear-gradient(239.21deg, #ffffff 29.23%, #d9edff 116.86%);
  }
  header {
    height: 10%;
  }
  .home-nav ul .logo {
    font-size: 64px;
    flex-grow: 10;
  }
  .signup {
    flex-grow: 1;
  }
  .login {
    flex-grow: 1;
  }
  .home-container div {
    display: flex;
    align-items: center;
    height: 90%;
  }
  .home-text {
    font-size: 64px;
    margin: auto 0;
    width: 800px;
    flex-grow: 1;
  }
  .home-svg {
    height: 550px;
    margin: 0;
    flex-grow: 1;
  }
}
