.profile-container {
  height: 100vh;
  font-family: var(--main-font);
}

.profile-menu {
  height: 65px;
  display: flex;
  background-color: #f7f7f7;
}
.profile-menu a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-family: var(--main-font);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myposts {
  margin-top: 50px;
}

/* update form */
.profile-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 65px);
  font-family: var(--main-font);
}

.profile-form div {
  width: 275px;
  margin-bottom: 15px;
}

.profile-form label {
  display: flex;
  flex-direction: column;
}

.profile-form label input {
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border: none;
  background-color: #f7f7f7;
}

.profile-form button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  background-color: #ff7474;
}

.hide {
  display: none;
}

/* table css */
.myposts h1 {
  text-align: center;
}

.myposts > .labels,
.myposts .postData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.myposts .postData {
  border-top: 1px solid rgb(221, 221, 221);
}

.myposts > .labels p,
.myposts .postData * {
  justify-self: center;
  align-self: center;
}

.myposts .postData .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.actions > div {
  background-color: blue;
  width: inherit;
  height: inherit;
  text-align: center;
}

.actions > div > img {
  width: 32px;
  height: inherit;
}

.actions > a {
  background-color: red;
  width: inherit;
  height: inherit;
  text-align: center;
}

.actions > a > img {
  width: 32px;
  height: inherit;
}

.postContent {
  text-align: center;
  margin: 10px 0;
}

/* for tablets */
@media only screen and (min-width: 768px) {
  .myposts {
    width: 650px;
    margin: 50px auto 0 auto;
  }
  .profile-form label {
    font-size: 22px;
  }
  .profile-form label input {
    height: 53px;
    width: 300px;
    font-size: 17px;
  }
  .profile-form label input::placeholder {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1050px) {
  .profile-container {
    margin-left: 300px;
  }
  .profile-menu a {
    cursor: pointer;
  }
  .profile-form button {
    cursor: pointer;
  }

  .actions > div {
    cursor: pointer;
  }
}
